*.exe
*.mdb
*.dll
*.snk
*.dll.config
*.exe.config

AssemblyInfo.cs
*-api.xml
generated/

*.pc

Makefile
Makefile.in

examples/clutter-gtk-sharp.dll.config.in
examples/clutter-sharp.dll.config.in

*.swp

COPYING
INSTALL
configure
config.*
ltmain.sh
aclocal.m4
autom4te.cache/
install-sh
missing
